*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

nav {
	padding: 0vw 4vw 0vw 4vw;
}

nav ul li a {
	color: var(--primary);
}

#message {
	height: 200px;
	resize: none;
}

#changeThemeButton {
	border-radius: 20px;
}

.grid {
	padding: 2vw;
}

.grid article {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
}

#smart-button-container {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
}

#smart-button-container * {
	width: 100%;
}

.money {
	background-color: green;
	border: green;
	width: 100%
}

.money:hover {
	color: lightgreen
}

.flexy-center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: w;
}

#contactContainer {
	padding-bottom: 10rem !important;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

#contactContainer article {
	width: 100%;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1%
}

[data-theme="dark"] {
	--primary: #1e88e5 !important;
	--primary-hover: #1565c0 !important;
	--primary-focus: #0d47a1 !important;
	--primary-inverse: #ffffff !important;
	--background-color: #121212 !important;
}

[data-theme="light"] {
	--primary: #1976d2 !important;
	--primary-hover: #2196f3 !important;
	--primary-focus: #64b5f6 !important;
	--primary-inverse: #000000 !important;
	--background-color: #ffffff !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 1rem;
}

.box-shadow-hover:hover {
	box-shadow: 4px 4px 1px 1px black;
}

.contactinfo-article {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 5px !important;
}

.contactinfo-article * {
	width: 50%;
}

.contactinfo-article a {
	display: flex;
	align-items: center;
	justify-content: space-between;
}