*, *::before, *::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

nav {
	padding: 0vw 4vw 0vw 4vw;
}

#message {
    height: 200px;
    resize: none;
}

#changeThemeButton {
	border-radius: 20px;
}

.grid {
	padding: 2vw;
}

.grid article {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
}

#smart-button-container {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
}

#smart-button-container * {
	width: 100%;
}

.money {
	background-color: green;
	border: green;
	width: 100%
}

.money:hover {
	color: lightgreen
}

.flexy-center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: w;
}

#contactContainer {
	padding-bottom: 10rem !important;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
}

#contactContainer article {
	width: 100%;
	background: transparent ;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1%
}



[data-theme="dark"] {
	--primary: #1e0048 !important;
	--primary-hover: #40009b !important;
	--primary-focus: #6a00ff !important;
	--primary-inverse: #fff !important;
	--background-color: rgb(105, 0, 170) !important;
}

h1, h2, h3, h4, h5, h6 {
	margin: 1rem;
}

.box-shadow-hover:hover {
	box-shadow: 4px 4px 1px 1px black;
}