nav ul li a {
	color: var(--primary);
}

[data-theme="dark"] {
	--primary: #1e88e5 !important;
	--primary-hover: #1565c0 !important;
	--primary-focus: #0d47a1 !important;
	--primary-inverse: #ffffff !important;
	--background-color: #121212 !important;
}

[data-theme="light"] {
	--primary: #1976d2 !important;
	--primary-hover: #2196f3 !important;
	--primary-focus: #64b5f6 !important;
	--primary-inverse: #000000 !important;
	--background-color: #ffffff !important;
}

nav {
	padding: 0vw 4vw 0vw 4vw;
}

#message {
	height: 200px;
	resize: none;
}

#changeThemeButton {
	border-radius: 20px;
}

#projectsContainer {
	grid-template-columns: repeat(2, auto);
	grid-auto-flow: dense !important;
	padding: 20px;
}

.flexButtonContainer {
	display: flex;
	gap: 1vw;
}

.flexButtonContainer a {
	background: rgba(255, 255, 255, 0.6);
	outline: none;
	border: none;
	box-shadow: 5px 5px 0 1px white;
	transition: .4s;
	color: white;
}

.flexButtonContainer a:hover,
.flexButtonContainer a:focus {
	transform: translate(5px, 5px);
	box-shadow: none;
}

.flexButtonContainer a {
	background: rgba(96, 0, 156, 0.366);
}

details:focus {
	color: white;
}

details summary {
	user-select: none;
	color: white !important;
}

details p {
	color: white !important;
}

.header {
	display: flex;
	align-items: center;
	flex-direction: row;
}

.header h2 {
	width: 70%;
	font-family: fantasy;
	font-size: 3rem;
	color: white;
}

.header .img-container {
	height: 50%;
	width: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 40px;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-container img {
	height: 60%;
	width: 70%;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 40px;
	margin: 0;
}

.project-card {
	padding: 30px;
	border-radius: 30px;
	width: 100%;
	height: 400px;
	box-shadow: 5px 5px 0 1px black;
	background-repeat: no-repeat;
	background-size: cover;
	transition: .4s;
}

[data-theme="dark"] .project-card {
	box-shadow: 5px 5px 0 1px white;
}

[data-theme="light"] .flexButtonContainer a {
	box-shadow: 5px 5px 0 1px black;
}

[data-theme="light"] .flexButtonContainer a:hover,
.flexButtonContainer a:focus {
	transform: translate(5px, 5px);
	box-shadow: none;
}


.project-card:hover {
	transform: translate(5px, 5px);
	box-shadow: none;
}

@media only screen and (max-width: 655px) {
	#projectsContainer {
		grid-template-columns: 100%;
	}

	.flexButtonContainer {
		gap: 10px;
	}

	.img-container {
		height: 100%;
	}

	.img-container img {
		height: 100%;
	}
}