[data-theme="dark"],
:root:not([data-theme="light"]) {
	--primary: #7d1bd8;
	--primary-hover: #300061;
	--primary-focus: rgba(74, 7, 105, 0.125);
	--primary-inverse: #fff;
}

[data-theme="light"],
:root:not([data-theme="dark"]) {
	.header h2 {
		color: rgb(255, 255, 255);
		mix-blend-mode: difference;
	}
}

nav {
	padding: 0vw 4vw 0vw 4vw;
}

#message {
	height: 200px;
	resize: none;
}

#changeThemeButton {
	border-radius: 20px;
}

#projectsContainer {
	grid-template-columns: repeat(2, auto);
	grid-auto-flow: dense !important;
	padding: 20px;
}

/* Pink Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
	:root:not([data-theme="light"]) {
		--primary: #1e0048;
		--primary-hover: #40009b;
		--primary-focus: #6a00ff;
		--primary-inverse: #fff;
		--background-color: rgb(105, 0, 170);
	}
}

[data-theme="dark"] {
	--primary: #1e0048;
	--primary-hover: #40009b;
	--primary-focus: #6a00ff;
	--primary-inverse: #fff;
	--background-color: rgba(96, 0, 156, 0.414);
}

.flexButtonContainer {
	display: flex;
	gap: 1vw;
}

.flexButtonContainer a {
	background: rgba(255, 255, 255, 0.6);
	outline: none;
	border: none;
	box-shadow: 5px 5px 0 1px white;
	transition: .4s;
}
.flexButtonContainer a:hover, .flexButtonContainer a:focus {
	transform: translate(5px, 5px);
	box-shadow: none;
}
.flexButtonContainer a {
	background: rgba(96, 0, 156, 0.366);
}

details:focus {
	color: white;
}

details summary {
	user-select: none;
	mix-blend-mode: multiply;
}

details p {
	mix-blend-mode: exclusion;
}

.header {
	display: flex;
	align-items: center;
	flex-direction: row;
}

.header h2 {
	width: 70%;
	mix-blend-mode: exclusion;
	font-family: fantasy;
	font-size: 3rem;
}

.header .img-container {
	height: 50%;
	width: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 40px;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-container img {
	height: 60%;
	width: 70%;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 40px;
	margin: 0;
}

.project-card {
	padding: 30px;
	border-radius: 30px;
	width: 100%;
	box-shadow: 5px 5px 0 1px black;
	background-repeat: no-repeat;
	background-size: cover;
	height: fit-content;
	transition: .4s;
}

.project-card:hover {
	transform: translate(5px, 5px);
	box-shadow: none;
}

@media only screen and (max-width: 655px) {
    #projectsContainer {
        grid-template-columns: 100%;
    }

	.flexButtonContainer {
		gap: 10px;
	}

	.img-container {
		height: 100%;
	}

	.img-container img {
		height: 100%;
	}
}