:root {
	--border-radius: 40px;
}

* {
	box-sizing: border-box !important;
}

html,
body {
	height: 240vh;
}

#container {
	height: 95%;
	width: 95%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	margin: 0;
	top: 2.5vh;
	left: 2.5vw;
	border-radius: var(--border-radius);
}

#extra-space {
	height: 95%;
	width: 95%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	margin: 0;
	top: 105vh;
	left: 2.5vw;
	border-radius: var(--border-radius);
	background-color: red;
	padding: 10px;
	gap: 10px;
}

#card {
	height: 90%;
	width: 35%;
	/* border-radius: var(--border-radius); */
	border-radius: 150px 50px 150px 50px;
	max-width: 100%;
	max-height: 100%;
	position: relative;
	background-image: url(../data/images/profile.png);
	background-repeat: no-repeat;
	background-size: cover;
	/* box-shadow: 5px 5px 0 1px black; */
	border: 15px solid var(--primary);
	transition: 0.4s;
	animation: breathing 5s ease-out infinite;
}

#card:hover {
	transform: translate(5px, 5px);
	box-shadow: none;
}

/* 
.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius);
} */

.button-container {
	width: 70%;
	height: 20%;
	position: absolute;
	top: 80%;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 10px;
}

.button-container button {
	border: none;
	outline: none;
	border-radius: 40px;
	box-shadow: 5px 5px 0 1px black;
	transition: 0.4s;
	border-radius: 50px;
	/* border-top-right-radius: 50px; */
}

.button-container button:hover {
	transform: translate(5px, 5px);
	box-shadow: none;
}

.button-container button:focus {
	border: none;
	outline: none;
	box-shadow: none;
}

button a {
	color: white;
	width: 100%;
	height: 100%;
}

.title-field {
	position: fixed;
	font-size: 3rem;
	font-weight: bold;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	height: 50vh;
	width: 30%;
	color: white;
	margin: 0;
	mix-blend-mode: difference;
}

.right-text-field {
	right: 5px;
	top: 5vh;
}

.left-text-field {
	left: 5vw;
	top: 15vh;
}

.flying-button {
	height: 50px;
	width: 50px;
	font-size: 25px;
	position: absolute;
	padding: 5px;
	border-radius: 100%;
	box-shadow: 5px 5px 0 1px black;
	transition: 0.4s;
}

.flying-button:hover {
	transform: translate(5px, 5px);
	box-shadow: none;
}

.mode-flying-button {
	top: 25px;
	left: 25px;
}

.lang-flying-button {
	top: 25px;
	right: 25px;
	font-family: monospace !important;
}

@media only screen and (max-width: 555px) {
	* {
		user-select: none !important;
	}

	#card {
		width: 80%;
	}

	.title-field {
		font-size: 1rem;
		font-weight: normal;
		width: 10%;
		top: 5px;
	}

	.left-text-field {
		left: 2px;
	}

	footer {
		font-size: 0.5rem;
	}
}

@media only screen and (min-width: 555px) and (max-width: 800px) {
	* {
		user-select: none !important;
	}

	#card {
		width: 60%;
	}

	.title-field {
		top: 35vh !important;
		font-size: 2rem;
		width: 25%;
	}

	footer {
		font-size: 0.7rem;
	}
}

[data-theme="dark"] {
	--primary: #1e0048 !important;
	--primary-hover: #40009b !important;
	--primary-focus: #6a00ff !important;
	--primary-inverse: #fff !important;
	--background-color: rgb(105, 0, 170) !important;
}

[data-theme="light"] {
	--background-color: rgba(233, 199, 255, 0.784) !important;

	.title-field {
		color: var(--primary);
	}
}

#extra-space h1 {
	background-color: transparent;
	color: white;
	mix-blend-mode: difference;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-links {
	height: 20%;
	width: 80%;
	background-color: var(--primary);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
	box-shadow: 0 0 10px 2px var(--primary-inverse);
}

.social-btn {
	cursor: pointer;
	height: 50px;
	width: 50px;
	font-family: "Titillium Web", sans-serif;
	color: #333;
	border-radius: 10px;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
	background: white;
	margin: 5px;
	transition: 1s;
	padding: 5px;
}

.social-btn a {
	width: 0px;
	overflow: hidden;
	transition: 1s;
	text-align: center;
	font-family: monospace !important;
}

.social-btn:hover {
	width: 150px;
	border-radius: 5px;
}

.social-btn:hover a {
	padding: 2px;
	width: max-content;
}

#whatsapp svg {
	fill: #1da1f2;
}

#facebook svg {
	fill: #0e76a8;
}

#github {
	fill: #333;
}

footer {
	height: fit-content;
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
	background-color: var(--primary-inverse);
	color: var(--primary);
	padding: 10px;
	font-family: monospace;
}

@keyframes breathing {
	50% {
		transform: scale(0.9);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes heartbeat {
	to {
		transform: scale(1.4);
	}
}

html[dir="rtl"] {
	.right-text-field {
		right: 5vw;
	}

	.left-text-field {
		left: 5px;
	}
}