*, *::before, *::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

nav {
	padding: 0vw 4vw 0vw 4vw;
}

#message {
    height: 200px;
    resize: none;
}

#changeThemeButton {
	border-radius: 20px;
}

.grid {
	padding: 2vw;
}

.grid article {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
}

#smart-button-container {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
}

#smart-button-container * {
	width: 100%;
}

.money {
	background-color: green;
	border: green;
	width: 100%
}

.money:hover {
	color: lightgreen
}

.flexy-center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: w;
}

#contactContainer {
	padding-bottom: 10rem !important;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
}

#contactContainer article {
	width: 100%;
	background: transparent ;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1%
}

#contactContainer a {
	width: 50%;
	border: none;
}


#contactContainer a, #contactContainer button {
	color: black !important;
}

.telegram {
	background: 	rgb(0, 136, 204);
}

.whatsapp {
	background: rgb(95, 252, 123)
}

.messenger {
	background: linear-gradient(rgb(255, 121, 164) 0%, rgb(150, 131, 255) 50%, rgb(0, 229, 255) 100%);;
}

/* Pink Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
	:root:not([data-theme="light"]) {
		--primary: #1e0048;
		--primary-hover: #40009b;
		--primary-focus: #6a00ff;
		--primary-inverse: #fff;
        --background-color: rgb(105, 0, 170);
	}
}
[data-theme="dark"] {
	--primary: #1e0048;
	--primary-hover: #40009b;
	--primary-focus: #6a00ff;
	--primary-inverse: #fff;
    --background-color: rgb(96, 0, 156);
}

h1, h2, h3, h4, h5, h6 {
	margin: 1rem;
}

.box-shadow-hover:hover {
	box-shadow: 4px 4px 1px 1px black;
}


@keyframes move {
	0%   { transform: scale(1)   translate(10px, -30px); }
	38%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
	40%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
	78%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
	80%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
	100% { transform: scale(1)   translate(10px, -30px); }
  }

#byMeCoffeePopUp {
	position: absolute;
	z-index: 1000;
	top: 50%;
	left: 0;
	background: rgb(255, 181, 54);
	font-size: 2rem;
	padding: 1rem;
	transform-origin: 50% 50%;
	border-radius: 50% 50% 10% 50%;
	animation: move 10s ease-in-out infinite;
}
