[data-theme="dark"],
:root:not([data-theme="light"]) {
	--primary: #7d1bd8;
	--primary-hover: #300061;
	--primary-focus: rgba(74, 7, 105, 0.125);
	--primary-inverse: #fff;
}

nav {
	padding: 0vw 4vw 0vw 4vw;
}

#message {
    height: 200px;
    resize: none;
}

#changeThemeButton {
	border-radius: 20px;
}


/* Pink Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
	:root:not([data-theme="light"]) {
		--primary: #1e0048;
		--primary-hover: #40009b;
		--primary-focus: #6a00ff;
		--primary-inverse: #fff;
        --background-color: rgb(105, 0, 170);
	}
}
[data-theme="dark"] {
	--primary: #1e0048;
	--primary-hover: #40009b;
	--primary-focus: #6a00ff;
	--primary-inverse: #fff;
    --background-color: rgb(96, 0, 156);
}

.flexButtonContainer {
	display: flex;
	gap: 1vw;
}

details summary {
	user-select: none;
}