*, *::before, *::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

nav {
	padding: 0vw 4vw 0vw 4vw;
}

#message {
    height: 200px;
    resize: none;
}

#changeThemeButton {
	border-radius: 20px;
}

.grid {
	padding: 2vw;
}

.grid article {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
}

#smart-button-container {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
}

#smart-button-container * {
	width: 100%;
}

.money {
	background-color: green;
	border: green;
	width: 100%
}

.money:hover {
	color: lightgreen
}

.flexy-center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: w;
}


/* Pink Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
	:root:not([data-theme="light"]) {
		--primary: #1e0048;
		--primary-hover: #40009b;
		--primary-focus: #6a00ff;
		--primary-inverse: #fff;
        --background-color: rgb(105, 0, 170);
	}
}
[data-theme="dark"] {
	--primary: #1e0048;
	--primary-hover: #40009b;
	--primary-focus: #6a00ff;
	--primary-inverse: #fff;
    --background-color: rgb(96, 0, 156);
}

h1, h2, h3, h4, h5, h6, li, ul {
	margin-bottom: 1vw !important;
}