:root {
	--header-size: 100px;
	--header-bg-color: transparent;
	--header-fc-color: black;
    --page-direction: ltr;
	--current-direction: left;
    --borders: transparent;
	--font-family: monospace;

	--border-color: red;
	--border-type: solid;
}



*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	direction: var(--page-direction) !important;
	text-align: var(--current-direction) !important;
	font-family: var(--font-family);
}

button {
	border: none;
	outline: none;
	cursor: pointer;
	user-select: none;
}

a {
	text-decoration: none;
	color: unset;
}

.flexy-center {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.dir-col {
	flex-direction: column !important;
}

.facebook:hover {
	background-color: rgb(66 103 178) !important;
}

.twitter:hover {
	background-color: rgb(29 161 242)!important;
}

.linkedin:hover {
	background-color: rgb( 10 102 194  )!important;
}

.reddit:hover {
	background-color: rgb( 255, 69, 0 )!important;
}

.github:hover {
	background-color: rgb(26, 27, 27)!important;
}

.gmail:hover {
	background-color:rgb(255, 4, 0) !important;
}

body {
    overflow: hidden;
	height: 100%;
	width: 100%;
}

#container {
	height: 100vh !important;
	width: 100% !important;
	overflow: hidden;
	overflow-y: auto;
    background: rgb(31, 3, 45);
    overflow: hidden;
}

main {
	position: absolute;
	left: 0;
	top: var(--header-size);
	height: calc(100vh - var(--header-size));
	width: 100vw;
	overflow: hidden;
	overflow-y: auto;
	background: transparent;
}
